.nav-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
  height: 70px;
  background-color: rgb(36 88 138);
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.41);
  border-bottom: 4px solid rgb(229 196 45);
  z-index: 2;
}
.logo {
  font-size: 1.3rem;
  font-weight: 100;
  display: flex;
  justify-content: start;
  align-items: center;
}
.logo p {
  /* font-family: "Dancing Script", cursive; */
  font-family: "Satisfy", cursive;
  font-weight: 100;
  font-size: 1.5rem;
  color: rgb(241, 241, 241);
}

.nav-container p {
  margin-bottom: 0;
}
.logo-image {
  margin-right: 10px;
  /* border: 2px solid white;
  border-radius: 50%; */
}
.menu ul {
  margin-bottom: 0;
}
.menu ul a {
  color: white !important;
}
.menu li {
  display: inline-block;
  margin-left: 20px;
}
.home-container {
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 2px;

  text-align: center;
}
.about-me-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-video {
  margin-top: 30px;
}
.mern {
  margin-top: 20px;
}
.projects-container {
  margin-top: 150px;
}
.projects-divider span {
  font-size: 2em;
}

.project-card-container {
  text-align: left;
  background-color: white;
  margin-bottom: 24px;
  box-shadow: 0 4px 6px -3px rgb(0 0 0 / 30%);
  border-radius: 6px;
  overflow: hidden;
}

.project-footer {
  display: flex;
  justify-content: space-around;
}

.project-description {
  padding: 17px;
  font-size: 1.03rem;
  height: 220px;
  overflow: hidden;
}
.project-footer {
  border-top: 1px solid rgb(224, 224, 224);
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.03rem;
}

.project-footer-item {
  text-align: left;
}
.project-footer-item:hover > .footer-icon {
  color: black;
}

.project-footer-item:hover .project-footer a {
  color: black;
  font-weight: bold;
}

.footer-icon {
  margin-right: 5px;
  color: rgb(170, 170, 170);
}
.footer-icon:hover {
  color: rgb(0, 0, 0);
}

.project-footer a {
  text-decoration: none;
  color: rgb(128, 128, 128);
}

.project-footer a:hover {
  color: rgb(0, 0, 0);
}

.projects-parent {
  width: 75%;
}

.projects-header {
  margin-bottom: 30px;
}
.popover-link {
  text-decoration: none;
  color: black;
  font-size: 1.03rem;
}
.popover-link-container {
  margin-bottom: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
}
.skill-container {
  text-align: left;
}
.skill-container h3 {
  display: inline-block;
  margin-left: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0px;
}
.skill-container img {
  margin-bottom: 5px;
}
.contact-items {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.contact-items span {
  margin-right: 5px;
}
.name-location {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.footer {
  width: 100%;
  background-color: rgb(36, 88, 138);
  height: 40px;
  margin-top: 100px;
}
.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
}
.menu-items {
  background-color: rgb(36, 88, 138);
  width: 200px;
  position: absolute;
  top: 70px;
  right: 0px;
  text-align: center;
  font-size: 1.1rem;
}
.menu-items ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.menu-items ul a {
  color: white !important;
}
.menu-items ul li {
  margin-bottom: 20px;
}
@media only screen and (min-width: 600px) {
  .menu-mobile {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .menu {
    display: none;
  }
}
.youtube-video-container {
  padding-bottom: 56.2%;
}
.youtube-video {
  position: absolute;
  right: 0px;
}
.youtube-video-container-small {
  padding-bottom: 56.2%;
  padding-right: 40px;
}
.youtube-video-small {
  position: absolute;
  right: 0px;
}
.small-videos {
  margin-top: 30px;
  margin-bottom: 70px;
}
.small-video {
  margin-bottom: 30px;
}
.youtube-icon {
  margin-right: 7px;
}
